<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceInvaders.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5D5579F26F21F12007D4E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D557B626F21F19007D4E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D557C126F21F19007D4E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
